<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>관리자 페이지</h3>
<a th:href="@{/cs/logout}">로그아웃을 하려면 이곳을 클릭하세요.</a><br />
<h5>아직 답변되지 않은 문의 목록</h5>
  <table border = 1>
    <thead>
    <tr>
      <th>제목</th>
      <th>분류</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each= "inquiry : ${notCommentedInquires}">
      <td><a th:href="@{'/cs/admin/answer/' + ${inquiry.id}}"  th:text="${inquiry.title}">제목</a></td>
      <td th:text="${inquiry.category}">분류</td>
      <td th:text="${inquiry.inquiryTime}">작성일시</td>
    </tr>
    </tbody>
  </table>
</body>
</html>