<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>내가 방금 문의한 내역</h3>
<table border = "1" width = "300" height = "200">
  <tr>
    <th>제목</th>
    <td th:text = "${inquiry.title}"></td>
  </tr>
  <tr>
    <th>카테고리</th>
    <td th:text = "${inquiry.category}"></td>
  </tr>
  <tr>
    <th>내용</th>
    <td th:text = "${inquiry.mainText}"></td>
  </tr>
  <tr>
    <th>답변여부</th>
    <td th:text = "N"></td>
  </tr>
</table>
<a th:href="@{'/cs/' + ${loginId}}">내가 문의한 목록 보러가기</a><br/>
<a th:href = "@{'/cs/inquiry/' + ${loginId}}">고객 문의하기 페이지로 이동</a><br/>
<a th:href="@{/cs/logout}">로그아웃하기</a><br />
</body>
</html>