<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>내가 문의한 목록</title>
</head>
<body>
  <h3> 나의 문의 목록 페이지</h3>
  <a th:href = "@{'/cs/inquiry/' + ${loginId}}">고객 문의하기 페이지로 이동하고 싶다면 클릭하세요.</a><br/>
  <a th:href="@{/cs/logout}">로그아웃하고 싶다면 클릭하세요.</a><br />

  <p>카테고리 별로 보고 싶다면 카테고리를 선택 후 분류 버튼을 눌러주세요.</p>
  <form method = "get" th:href = "@{'/cs/' + ${loginId}}">
    <select name = "category">
      <option value = "불만접수">불만 접수</option>
      <option value = "제안">제안</option>
      <option value = "환불_교환">환불/교환</option>
      <option value = "칭찬해요">칭찬해요</option>
      <option value = "기타 문의">기타 문의</option>
    </select>
    <input type = "submit" value = "분류"/>
  </form>
  <br/><br/>

  <table border = "1">
    <thead>
    <tr>
      <th>제목</th>
      <th>카테고리</th>
      <th>작성일시</th>
      <th>답변여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each= "inquiry : ${inquiryList}">
      <td><a th:href="@{'/cs/' + ${loginId} + '/inquiry/' + ${inquiry.id} + '/detail'}"  th:text="${inquiry.title}">제목</a></td>
      <td th:text="${inquiry.category}">카테고리</td>
      <td th:text="${inquiry.inquiryTime}">작성일시</td>
      <td th:if="${inquiry.boolanswer}" th:text = "Y">답변여부</td>
      <td th:unless="${inquiry.boolanswer}" th:text = "N">답변여부</td>
    </tr>
    </tbody>
  </table>
</body>
</html>